body {
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Courier New', monospace;
    color: #dcdcdc;
}

.clock-date-container {
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #222;
    text-align: center;
}

.clock-date {
    font-size: 2.5rem;
    color: #d86c6c;
    /*font-weight: bold;*/
}

.clock-date-label {
    color: #888;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.clock-container {
    background: linear-gradient(to bottom, #4a4a4a, #2b2b2b, #4a4a4a);
    padding: 30px 40px;
    border-radius: 50px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    border: 2px solid #555;
    display: flex;
    justify-content: center;
    align-items: center;
}
